* {
	box-sizing: border-box;
}
:root {
	--theme-rhythm: 4em;
}
html {
	font-family: system-ui, sans-serif;
}
html, body {
	min-height: 100vh;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main {
	max-width: 50em;
	margin: 0 auto;
	padding: 0 1em 1em;
}
h1 {
	margin: .5em 0;
}
img {
	width: 100%;
	height: auto;
	background-image: url(/demo-checkerboard.svg);
	background-repeat: repeat;
}
figure {
	margin: 0;
}
figcaption {
	padding: .5em 1em .75em;
}
table {
	margin: 2em 0 0;
}
table :is(td,th) {
	padding: .25em .5em;
}
section {
	padding-bottom: var(--theme-rhythm);
	margin: var(--theme-rhythm) 0;
	border-bottom: 1px solid #c2c2c2;
}
section:first-of-type {
	margin-top: 0;
}
section:last-of-type {
	border-bottom: none;
}

/* Demo styles */
.demo-better {
	color: #00882D;
	font-weight: bold;
}
.demo-worse {
	color: #CB000F;
	font-weight: bold;
}
tr.loadedsrc {
	background-color: #eaeaea;
}
tr.currentsrc {
	outline: 2px solid;
}